.highlight {
  color: royalblue;
  font-weight: 600;
  font-size: xx-large;
}
.red {
  color: rgb(225, 65, 65);
  font-weight: 600;
}
.deco li {
    font-weight: bold;
    list-style: none;
}